/*直接 :not(not) 会导致一些不必要的麻烦*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
view,
scroll-view,
swiper,
swiper-item,
cover-view,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video,
live-player {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*font-size: 12px;*/
  /*font-family: FZLTHJW;*/
}

/*弃用 禁止图片长按呼出默认弹窗*/
/* 资讯 长按海报 保存本地 需要放开 */
img {
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
  /*-webkit-touch-callout: none;*/
}

/*隐藏滚轮 scroll-view中的*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/*优化image*/
image {
  will-change: transform;
}

a:-webkit-any-link:active {
  color: -webkit-link;
}
a:-webkit-any-link {
  color: #397df5;
  cursor: pointer;
  text-decoration: underline;
}

button {
  background-color: transparent !important;
  border-radius: 0;
}

button:after {
  border: none;
}
